//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	background-color: $orangeColor;
	color: $whiteColor;
	font-weight: 900;
	font-size: rem(19);
	line-height: 1.46;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border-radius: 4.375rem;
	padding: .75rem 3.125rem;
	border: .0938rem solid $orangeColor;
	transition: all 0.5s ease;
	@media (any-hover: hover) {
		&:hover {
			transition: all 0.5s ease;
			color: $orangeColor;
			background-color: $whiteColor;
		}
	}
	&._fw {
		width: 100%;
	}
}
