//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 3rem;
	width: 100%;
	height: 3rem;
	display: block;
	padding: 0 1.75rem;
	background-color: $whiteColor;
	box-shadow: .125rem .3125rem .9375rem rgba(0, 0, 0, 0.06);
	font-size: rem(14);
	line-height: 1.33;
	&::placeholder {
		color: $placeColor;
	}
	&._form-focus {
		outline: .0625rem solid $orangeColor;
	}
	&._form-error {
		color: $errorColor;
	}
}
textarea.input {
	resize: none;
	border-radius: 1.875rem;
	min-height: 10.9375rem;
	padding: .8125rem 1.5rem;
}
._form-error {
	color: $errorColor;
}