// <SELECT>
// Сніппет (HTML): sel
.select {
	min-width: 0;
	position: relative;
	// .select__body
	&__body {
		position: relative;
	}
	// .select__title
	&__title {
		box-shadow: .125rem .3125rem .9375rem rgba(0, 0, 0, 0.06);
		border-radius: 1.875rem;
		color: inherit;
		text-align: left;
		background-color: $whiteColor;
		cursor: pointer;
		width: 100%;
		position: relative;
		z-index: 7;
		&:focus {
		outline: .0625rem solid $orangeColor;
	}
	}
	// .select__value
	&__value {
		display: flex;
		min-width: 0;
		align-items: center;
		height: rem(48);
		padding: 0 rem(20) 0 1.75rem;
		gap: rem(10);
		> * {
			flex: 1 1 auto;
		}
		&:after {
			content: "\e900";
			align-self: stretch;
			font-size: rem(7.5);
			@extend %ic;
			flex: 0 0 10px;
			transition: all 0.3s ease 0s;
			display: flex;
			justify-content: center;
			align-items: center;
			._select-open & {
				transform: rotate(-180deg);
			}
		}
		&._select-pseudo-label {
			&::before {
				content: attr(data-pseudo-label);
				opacity: 0.5;
			}
		}
	}
	// .select__content
	&__content {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	// .select__text
	&__text {
		flex: 1 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__input {
		border-radius: 1.875rem;
		width: 100%;
		background-color: transparent;
		height: 100%;
	}
	// .select__options
	&__options {
		border-radius: 0 0 1.875rem 1.875rem;
		box-shadow: .125rem .3125rem .9375rem rgba(0, 0, 0, 0.06);
		color: #000;
		position: absolute;
		top: calc(100% - rem(15));
		min-width: 100%;
		left: 0;
		background-color: $whiteColor;
		border-top: 0;
		padding-bottom: rem(5);
		padding-top: rem(25);
	}
	// .select__scroll
	&__scroll {
		overflow-y: auto;
		overflow-x: hidden;
		// Максимальна висота
		max-height: rem(200);
		// Стилі скроллбару
		.simplebar-scrollbar {
			&::before {
				//opacity: 1;
			}
		}
	}
	// .select__option
	&__option {
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: rem(14) 1.75rem;
		color: inherit;
		position: relative;
		&._select-selected {
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					content: "";
					background-color: $orangeColor;
					position: absolute;
					width: 40%;
					height: rem(2);
					bottom: 0;
					left: rem(28);
				}
			}
		}
		&:not(:last-child)::before {
			content: "";
			background-color: $placeColor;
			position: absolute;
			width: 85%;
			height: rem(0.5);
			bottom: 0;
			left: rem(28);
		}
	}

	// Конструкція додаткових даних
	&__row {
		display: inline-flex;
		align-items: center;
	}
	&__asset {
	}
	&__text {
	}

	&_show-top {
		.select__options {
			top: auto;
			bottom: calc(100% - rem(1));
			border-bottom: 0;
			padding: 5px 0px 10px 0px;
		}
	}

	// Стан селекту
	&._select-open {
	}
	&._select-disabled {
	}
	&._select-active {
	}
	&._select-focus {
	}
	&._select-multiple {
	}
	&._select-checkbox {
	}
}

// Тег
._select-tag {
	cursor: pointer;
}
